<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../assets/css/style.css" />
  <title>JSMonk UI Component library - Images</title>
  <script src="/js/index.js" defer></script>
</head>

<body>
  <div id="main-container" class="main-container theme-light">
    <!-- Header  -->
    <div class="header mb-5 box-shadow-medium">
      <div class="header-logo-wrapper px-5 py-2">
        <div class="logo">
          <span class="logo-title">jsmonk ui</span>
          <span class="logo-subtitle">component library</span>
        </div>
      </div>
      <div class="header-menu-wrapper">
        <div class="center-menus"></div>
        <div class="right-menus">
          <div class="menu-icon" onclick="toggleTheme()"><i class="bi bi-gear"></i></i>Theme</div>
          <a class="menu-icon" target="blank" href="https://github.com/avindhawale/jsmonk-design/tree/jsmonk-design-dev"
            class="menu-icon"><i class="bi bi-person"></i>Profile</a>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="sidebar">
        <div class="drawer-wrapper m-2 box-shadow-medium">
          <div class="drawer-head border-bottom border-color px-5 py-2">
            <a target="blank" href="https://github.com/avindhawale/jsmonk-design/tree/jsmonk-design-dev"
              class="drawer-head-title">
              <span class="drawer-head-title-icon"><i class="bi bi-badge-ad-fill"></i></span>
              <span class="drawer-head-title-text ml-3">JSMONK DESIGN</span>
            </a>
          </div>
          <ul class="drawer-list px-5 py-2">
            <li class="drawer-item drawer-item-heading">
              <i class="drawer-item-icon bi bi-gear"></i>Getting started
            </li>
            <li class="drawer-item">
              <a href="../../index.html">Introduction</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/installation.html">Installation</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/themes.html">Themes</a>
            </li>
            <li class="drawer-item drawer-item-heading">
              <i class="drawer-item-icon bi bi-hdd-stack"></i>Components
            </li>
            <li class="drawer-item">
              <a href="../../views/components/avatar.html">Avatar</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/components/alert.html">Alert</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/components/badge.html">Badge</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/components/button.html">Button</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/components/card.html">Card</a>
            </li>
            <li class="drawer-item">
              <a class="active" href="../../views/components/image.html">Image</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/components/input.html">Input</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/components/list.html">List</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/components/navigation.html">Navigation</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/components/rating.html">Rating</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/components/grid.html">Simplified Grid</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/components/slider.html">Slider</a>
            </li>
            <li class="drawer-item drawer-item-heading">
              <i class="drawer-item-icon bi bi-filter-square"></i>Spacing
            </li>
            <li class="drawer-item">
              <a href="../../views/components/padding.html">Padding</a>
            </li>
            <li class="drawer-item">
              <a href="../../views/components/margin.html">Margin</a>
            </li>
            <li class="drawer-item drawer-item-heading">
              <a href="../../views/components/typography.html"><i
                  class="drawer-item-icon bi bi-file-font"></i>Typography</a>
            </li>
          </ul>
        </div>
      </div>
      <section class="content">
        <div class="content-body m-2 px-5 box-shadow-medium">
          <div class="content-body-title border-bottom px-5 py-2 mb-5 border-color">
            <h2>Images</h2>
          </div>
          <div class="content-body-details pb-5">
            <p>
              Images play important role in website development. JSMonk
              provides facility to use images in your website using simple
              classes which makes your website more responsive and user
              friendly. Check below examples how you can you images in
              different ways.
            </p>
            <h3>Responsive image</h3>
            <p>
              Using responsive image component it simply adjust itself as per
              the width size of the device in proportionate to width and
              heigh.
            </p>
            <div class="demo-component-wrapper m-5">
              <div class="demo-component-image-wrapper">
                <!-- Responsive image -->
                <img src="../../assets/images/product_01.png" class="responsive-img" alt="product" />
              </div>
            </div>
            <p>
              <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=719&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=15.5px&lh=148%25&si=false&es=2x&wm=false&code=%253C%21--%2520Responsive%2520image%2520--%253E%250A%253Cimg%2520src%253D%2522%252Fassets%252Fimages%252Fproduct_01.png%2522%2520class%253D%2522responsive%2522%2520alt%253D%2522product%2522%253E"
                style="
                    width: 719px;
                    height: 255px;
                    border: 0;
                    transform: scale(1);
                    overflow: hidden;
                  " sandbox="allow-scripts allow-same-origin">
              </iframe>
            </p>
            <!-- Round image -->
            <h3>Round image</h3>
            <p>
              Round image component is simple gives you facility to show your
              image in round shape, check below example.
            </p>
            <div class="demo-component-wrapper m-5">
              <div class="demo-component-image-wrapper">
                <!-- Round image -->
                <img src="../../assets/images/product_02.png" class="responsive-img round-img" alt="product" />
              </div>
            </div>
          </div>
          <p>
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=719&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=15.5px&lh=148%25&si=false&es=2x&wm=false&code=%253C%21--%2520Round%2520image%2520--%253E%250A%253Cimg%2520src%253D%2522%252Fassets%252Fimages%252Fproduct_02.png%2522%2520class%253D%2522responsive-img%2520round-img%2522%2520alt%253D%2522product%2522%252F%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520"
              style="
                  width: 719px;
                  height: 278px;
                  border: 0;
                  transform: scale(1);
                  overflow: hidden;
                " sandbox="allow-scripts allow-same-origin">
            </iframe>
          </p>

          <!-- Footer -->
          <div class="content-body-footer p-5 border-top">
            <a href="../../views/components/card.html" class="link-footer text-lg">
              <i class="bi bi-arrow-left-circle mr-2"></i>
              Card
            </a>
            <a href="../../views/components/input.html" class="link-footer text-lg">
              Input
              <i class="bi bi-arrow-right-circle ml-2"></i>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>