<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <title>JSMonk UI Component library - Introduction</title>
  <script src="/js/index.js" defer></script>
  <script src="/js/index.js" defer></script>
</head>

<body>
  <div id="main-container" class="main-container theme-light">
    <!-- Header  -->
    <div class="header mb-5 box-shadow-medium">
      <div class="header-logo-wrapper px-5 py-2">
        <div class="logo">
          <span class="logo-title">jsmonk ui</span>
          <span class="logo-subtitle">component library</span>
        </div>
      </div>
      <div class="header-menu-wrapper">
        <div class="center-menus"></div>
        <div class="right-menus">
          <div class="menu-icon" onclick="toggleTheme()"><i class="bi bi-gear"></i></i>Theme</div>
          <a class="menu-icon" target="blank" href="https://github.com/avindhawale/jsmonk-design/tree/jsmonk-design-dev"
            class="menu-icon"><i class="bi bi-person"></i>Profile</a>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="sidebar">
        <div class="drawer-wrapper m-2 box-shadow-medium">
          <div class="drawer-head border-bottom border-color px-5 py-2">
            <a target="blank" href="https://github.com/avindhawale/jsmonk-design/tree/jsmonk-design-dev"
              class="drawer-head-title">
              <span class="drawer-head-title-icon"><i class="bi bi-badge-ad-fill"></i></span>
              <span class="drawer-head-title-text ml-3">JSMONK DESIGN</span>
            </a>
          </div>
          <ul class="drawer-list px-5 py-2">
            <li class="drawer-item drawer-item-heading">
              <i class="drawer-item-icon bi bi-gear"></i>Getting started
            </li>
            <li class="drawer-item">
              <a href="/index.html">Introduction</a>
            </li>
            <li class="drawer-item">
              <a href="/views/installation.html">Installation</a>
            </li>
            <li class="drawer-item">
              <a href="/views/themes.html">Themes</a>
            </li>
            <li class="drawer-item drawer-item-heading">
              <i class="drawer-item-icon bi bi-hdd-stack"></i>Components
            </li>
            <li class="drawer-item">
              <a href="/views/components/avatar.html">Avatar</a>
            </li>
            <li class="drawer-item">
              <a href="/views/components/alert.html">Alert</a>
            </li>
            <li class="drawer-item">
              <a href="/views/components/badge.html">Badge</a>
            </li>
            <li class="drawer-item">
              <a href="/views/components/button.html">Button</a>
            </li>
            <li class="drawer-item">
              <a href="/views/components/card.html">Card</a>
            </li>
            <li class="drawer-item">
              <a href="/views/components/image.html">Image</a>
            </li>
            <li class="drawer-item">
              <a href="/views/components/input.html">Input</a>
            </li>
            <li class="drawer-item">
              <a href="/views/components/list.html">List</a>
            </li>
            <li class="drawer-item">
              <a href="/views/components/navigation.html">Navigation</a>
            </li>
            <li class="drawer-item">
              <a class="active" href="/views/components/rating.html">Rating</a>
            </li>
            <li class="drawer-item">
              <a href="/views/components/grid.html">Simplified Grid</a>
            </li>
            <li class="drawer-item">
              <a href="/views/components/slider.html">Slider</a>
            </li>
            <li class="drawer-item drawer-item-heading">
              <i class="drawer-item-icon bi bi-filter-square"></i>Spacing
            </li>
            <li class="drawer-item">
              <a href="/views/components/padding.html">Padding</a>
            </li>
            <li class="drawer-item">
              <a href="/views/components/margin.html">Margin</a>
            </li>
            <li class="drawer-item drawer-item-heading">
              <a href="/views/components/typography.html"><i class="drawer-item-icon bi bi-file-font"></i>Typography</a>
            </li>
          </ul>
        </div>
      </div>
      <section class="content">
        <div class="content-body m-2 px-5 box-shadow-medium">
          <div class="content-body-title border-bottom px-5 py-2 mb-5 border-color">
            <h2>Rating - Coming soon</h2>
          </div>
          <div class="content-body-footer p-5">
            <a href="/views/components/navigation.html" class="link-footer text-lg">
              <i class="bi bi-arrow-left-circle mr-2"></i>
              Navigation
            </a>
            <a href="/views/components/grid.html" class="link-footer text-lg">
              Grid
              <i class="bi bi-arrow-right-circle ml-2"></i>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>