<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>JSMonk UI Component library - themes</title>
  </head>
  <body>
    <div class="main-container theme-default">
      <!-- Header  -->
      <div class="header mb-5 box-shadow-medium">
        <div class="header-logo-wrapper px-5 py-2">
          <div class="logo">
            <span class="logo-title">jsmonk ui</span>
            <span class="logo-subtitle">component library</span>
          </div>
        </div>
        <div class="header-menu-wrapper"></div>
      </div>
      <div class="page">
        <div class="sidebar">
          <div class="drawer-wrapper m-2 box-shadow-medium">
            <div class="drawer-head border-bottom border-color px-5 py-2">
              <a
                href="https://github.com/avindhawale/jsmonk-design/tree/jsmonk-design-dev"
                class="drawer-head-title"
              >
                <span class="drawer-head-title-icon"
                  ><i class="bi bi-badge-ad-fill"></i
                ></span>
                <span class="drawer-head-title-text ml-3">JSMONK DESIGN</span>
              </a>
            </div>
            <ul class="drawer-list px-5 py-2">
              <li class="drawer-item drawer-item-heading">
                <i class="drawer-item-icon bi bi-gear"></i>Getting started
              </li>
              <li class="drawer-item">
                <a href="/index.html">Introduction</a>
              </li>
              <li class="drawer-item">
                <a class="active" href="/views/installation.html"
                  >Installation</a
                >
              </li>
              <li class="drawer-item">
                <a href="/views/themes.html">Themes</a>
              </li>
              <li class="drawer-item drawer-item-heading">
                <i class="drawer-item-icon bi bi-hdd-stack"></i>Components
              </li>
              <li class="drawer-item">
                <a href="/views/components/avatar.html">Avatar</a>
              </li>
              <li class="drawer-item"><a href="#">Alert</a></li>
              <li class="drawer-item"><a href="#">Badge</a></li>
              <li class="drawer-item"><a href="#">Button</a></li>
              <li class="drawer-item"><a href="#">Card</a></li>
              <li class="drawer-item"><a href="#">Image</a></li>
              <li class="drawer-item"><a href="#">Input</a></li>
              <li class="drawer-item"><a href="#">Lists</a></li>
              <li class="drawer-item"><a href="#">Navigation</a></li>
              <li class="drawer-item"><a href="#">Rating</a></li>
              <li class="drawer-item"><a href="#">Toast/Notify</a></li>
              <li class="drawer-item"><a href="#">Simplified Grid</a></li>
              <li class="drawer-item"><a href="#">Slider</a></li>
              <li class="drawer-item drawer-item-heading">
                <i class="drawer-item-icon bi bi-filter-square"></i>Spacing
              </li>
              <li class="drawer-item"><a href="#">Padding</a></li>
              <li class="drawer-item"><a href="#">Margin</a></li>
              <li class="drawer-item drawer-item-heading">
                <a href="#"
                  ><i class="drawer-item-icon bi bi-file-font"></i>Typography</a
                >
              </li>
            </ul>
          </div>
        </div>
        <section class="content">
          <div class="content-body m-2 px-5 box-shadow-medium">
            <div
              class="content-body-title border-bottom px-5 py-2 mb-5 border-color"
            >
              <h2>Installation</h2>
            </div>
            <div class="content-body-details pb-5">
              <p>
                Download the css folder from
                <a
                  class="link"
                  href="https://github.com/avindhawale/jsmonk-design/tree/jsmonk-design-dev"
                  >JSMonk UI github</a
                >
                and put it into your source folder. Provide a reference of
                <code>style.css</code> file in your <code>index.html</code> file
                as shown below.
              </p>
              <p>
                <iframe
                  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522assets%252Fcss%252Fstyle.css%2522%2520%252F%253E"
                  style="
                    width: 597px;
                    height: 205px;
                    border: 0;
                    transform: scale(1);
                    overflow: hidden;
                  "
                  sandbox="allow-scripts allow-same-origin"
                >
                </iframe
                ><br />
                That it is, you are good to go to use awesome <b>JSMonk UI</b>
                components.
              </p>

              <h3>Using npm</h3>
              <p>
                We are soon creating node package which will allow you to
                install JSMonk UI using npm. Keep checking the updates.
              </p>

              <h3>Demo</h3>
              <p>
                Check the live demo
                <a
                  class="link"
                  href="https://github.com/avindhawale/jsmonk-design/tree/jsmonk-design-dev"
                  >here</a
                >.
              </p>

              <h3>Need help</h3>
              <p>
                For any queries you can connect us
                <a
                  class="link"
                  href="https://github.com/avindhawale/jsmonk-design/tree/jsmonk-design-dev"
                  >here</a
                >.
              </p>
            </div>
            <div class="content-body-footer p-5 border-top">
              <a href="/index.html" class="link-footer text-lg">
                <i class="bi bi-arrow-left-circle mr-2"></i>
                Introduction
              </a>
              <a href="/views/themes.html" class="link-footer text-lg">
                Themes
                <i class="bi bi-arrow-right-circle ml-2"></i>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
