/* --------- Default Theme ---------- */

.main-container.theme-default {
  color: var(--text-color-dracula);
  background: var(--bg-dark);
}
.main-container.theme-default .header {
  background: var(--bg-dark);
  z-index: 1;
}
.main-container.theme-default .border-color {
  border-color: var(--bg-dark-border-color);
}
.main-container.theme-default .logo-title,
.main-container.theme-default .logo-subtitle,
.main-container.theme-default .drawer-head-title,
.main-container.theme-default a.link {
  color: var(--green);
}

/* --------- Dracula Theme ---------- */
